{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "src/jsx-runtime"
      }
    ],
    "@emotion/babel-plugin"
  ]
}
